<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f3f4f6; text-align: center; padding: 20px;">
  <table width="100%" cellspacing="0" cellpadding="0" style="max-width: 400px; margin: auto;">
    <tr>
      <td style="background-color: white; padding: 2rem; border-radius: 0.25rem; box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);">
        <table width="100%">
          <tr>
          </tr>
          <tr>
            <td style="text-align: center;">
              <h2 style="font-size: 24px; margin-bottom: 0.5rem;">Reset hasła</h2>
              <p style="margin-bottom: 1rem;">
                Jeżeli zapomniałeś/zapomniałaś hasła,<br>użyj poniższego linku.
              </p>
                <a href="{{ link }}" style="background-color: #0ea5e9; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 8px;">Resetuj Hasło</a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
